.section-divider {
    position: relative;
    height: 0;
    z-index: 9999;
}

.title {
    color: white;
    font-size: clamp(2rem, 5vw, 4rem);
    position: absolute;
    right: 5%;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.bar {
    border-radius: 9999px;
    background: linear-gradient(90deg, rgba(106, 138, 255, 1) 0%, rgba(178, 251, 255, 1) 100%);
    position: absolute;
    min-width: 10px;
}

.bar1 {
    left: -5%;
    top: 0;
    height: 40px;
    width: 60%;
    transform: translate(0, -50%);
}

.bar2 {
    left: -5%;
    top: 50px;
    height: 20px;
    width: 30%;
    transform: translate(0, -50%);
}

.bar3 {
    left: 28%;
    top: 50px;
    height: 20px;
    width: 3%;
    transform: translate(0, -50%);
}