.lang-switcher-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 70px;
    left: 100px;
}

.lang-switcher-btn {
    /* background-color: #2563eb; */
    /* bg-blue-600 */
    padding: 0.5rem;
    border-radius: 9999px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.9);
    transition: transform 0.2s;
    cursor: pointer;
    align-self: flex-end;
}

.lang-switcher-btn:hover {
    /* background-color: #1d4ed8; */
    /* bg-blue-700 */
    transform: scale(1.2);
}

.lang-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
    transform: translateX(5rem);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.lang-options.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.lang-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.lang-option:hover {
    transform: scale(1.1);
}

.icon {
    width: 1.25rem;
    /* w-5 */
    height: 1.25rem;
    /* h-5 */
    flex-shrink: 0;
}

.lang-option.active {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.25);
  transform: scale(1.08);
  cursor: default   ;
}

.lang-option.active .icon {
  filter: drop-shadow(0 0 6px rgba(255,255,255,0.4));
}