.lang-switcher-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 70px;
    left: 70px;
}

.lang-switcher-btn:hover {
    /* background-color: #1d4ed8; */
    /* bg-blue-700 */
    transform: scale(1.2);
}

.lang-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem; /* 默认右边滑出 */
    transform: translateX(5rem);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.lang-options.down{
    top: 0;
}

.lang-options.up{
    bottom: 0;
}

.lang-options.right {
    margin-right: 3rem;
    transform: translateX(5rem);
}

.lang-options.open.right {
    transform: translateX(3rem);
    opacity: 1;
    pointer-events: auto;
}

.lang-options.left {
    transform: translateX(-12rem);
}

.lang-options.open.left {
    transform: translateX(-10rem);
    opacity: 1;
    pointer-events: auto;
}


.lang-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}



.icon {
    width: 1.25rem;
    /* w-5 */
    height: 1.25rem;
    /* h-5 */
    flex-shrink: 0;
}

.lang-option.active {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.25);
  transform: scale(1.08);
  cursor: default   ;
}

.lang-option.active .icon {
  filter: drop-shadow(0 0 6px rgba(255,255,255,0.4));
}