@import "tailwindcss";

body {
  margin: 0;
  font-family: "MyFont";
}

#root{
  height: 100vh;
  width: 100vw;
}

/* 实用类 */
.transparent-shadow {
    background-color: transparent;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.9);
    color: white;
}

.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* 动画复用 */
@keyframes bounce-scale {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.3); /* 超出目标 */
  }
  80% {
    transform: scale(1.15); /* 回弹 */
  }
  100% {
    transform: scale(1.25);  /* 最终停留 */
  }
}

.hover-bounce {
  transition: transform 0.2s ease;
}

.hover-bounce:hover {
  animation: bounce-scale 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-fill-mode: forwards;
}