@import "tailwindcss";


body {
  margin: 0;
  font-family: "MyFont";
}

:root {
  min-height: 100vh;
  width: 100%;
  --box-bg-color: rgb(88.63% 88.63% 88.63% / 0.45)

  --primary: #6366f1;
  --bg: #f8fafc;
  --sidebar-bg: #ffffff;
  --text: #1e293b;
}

/* 滚动条整体 */
::-webkit-scrollbar {
  width: 10px;
}

/* 滚动条背景 */
::-webkit-scrollbar-track {
  background: white;
}

/* 滚动条滑块（handler） */
::-webkit-scrollbar-thumb {
  background: #b2fbff;
  border-radius: 6px;
}

/* hover 状态 */
::-webkit-scrollbar-thumb:hover {
  background: #6a8aff;
}




/* 主题 */
:root.theme-light {
  --bg-color: #ffffff;
  --text-color: #111111;
  --box-bg-color: rgb(88.63% 88.63% 88.63% / 0.45)
}

:root.theme-dark {
  --bg-color: #0b0b0f;
  --text-color: #eaeaf0;
  --box-bg-color: rgb(88.63% 88.63% 88.63% / 0.45)
}

/* 实用类 */
.box {
  padding: 20px;
  background-color: var(--box-bg-color);
}

.rd-infinity {
  border-radius: 9999px;
}

.rd-large {
  border-radius: 40px;
}

.rd-medium {
  border-radius: 30px;
}

.gradient-text {
  font-weight: bold;
  background: linear-gradient(90deg, #000000 0%, #737373 50%);
  -webkit-background-clip: text;
  /* 文字裁剪背景 */
  -webkit-text-fill-color: transparent;
  /* 文字透明，显示背景 */
}

.button {
  padding: 0.5rem 0.8rem;
  border-radius: 9999px;
  box-shadow: 0 0px 20px rgba(255,255,255, 0.9);
  transition: transform 0.2s ease;
  cursor: pointer;
  align-items: center;
  width: fit-content;
}

.button:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.button .icon {
  width: 2rem;
  /* w-5 */
  height: 2rem;
  /* h-5 */
  flex-shrink: 0;
}

.normal-button {
  padding: 0.5rem 2rem;
  border-radius: 9999px;
  box-shadow: 0 0px 20px rgba(255,255,255, 0.9);
  transition: transform 0.2s ease;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

.normal-button:hover {
  transform: scale(1.1); /* 整个按钮放大 */
}

/* 文字单独渐变 */
.button-text {
  display: inline-block;
  transition: transform 0.2s ease; 
}

.normal-button:hover .button-text {
  transform: scale(1.2); /* 文字放大 */
}


.transparent-shadow {
  background-color: transparent;
  box-shadow: 0 0px 10px rgba(255,255,255, 0.9);
  color: white;
}

.box-shadow{
  box-shadow: 0 0px 10px rgba(0,0,0, 0.9);
}

.box-shadow-lg{
  box-shadow: 0 0px 50px rgba(0,0,0, 0.9);
}

.text-shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.text-shadow-white {
  text-shadow: 0 0 10px rgba(255,255,255, 0.5);
}

.text-shadow-sm {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.bg-fixed {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* 动画复用 */
@keyframes bounce-scale {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.3);
    /* 超出目标 */
  }

  80% {
    transform: scale(1.15);
    /* 回弹 */
  }

  100% {
    transform: scale(1.25);
    /* 最终停留 */
  }
}

.hover-bounce {
  transition: transform 0.2s ease;
}

.hover-bounce:hover {
  animation: bounce-scale 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-fill-mode: forwards;
}